@charset "utf-8";


/* --------------------------------------------- */
/* multi device background */
/* --------------------------------------------- */
@mixin background-image( $file, $w, $h, $position: 0){
  $path: '../img' + $file;

  // center
  @if $position == 1{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: (-$h/2+px) 0 0 (-$w/2+px);
  }
  @else if $position == 2{
    position: absolute;
    left: 0;
    top: 50%;
    margin: (-$h/2+px) 0 0 0;
  }

  @if $w != auto {
    $w: $w+px;
  }

  @if $h != auto {
    $h: $h+px
  }

  // content: "";
  display: block;
  width: $w;
  height: $h;
  background-image: url($path);
  background-repeat: no-repeat;
  background-size: $w $h;
  @include hide-text;
}


/* --------------------------------------------- */
/* multi device background */
/* --------------------------------------------- */
@mixin custom-background( $file, $w, $h ){
  /* @2x */

  $file_suffix: addSuffix( $file, '' );
  $path_1x: '/assets/img/medium' + $file;
  $path_2x: '/assets/img/large' + $file_suffix;

  display: block;
  width: $w+px;
  height: $h+px;
  background-image: url($path_1x);
  background-repeat: no-repeat;
  background-size: $w+px $h+px;
  @include hide-text;

  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    background-image: url($path_2x);
    background-size: $w+px $h+px;
  }
}

@mixin hover-background( $file, $w, $h ){
  $file_on: addSuffix( $file, '_on' );
  position: relative;
  @include custom-background( $file, $w, $h );

  &:hover:after{
    opacity: 1;
  }

  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    @include custom-background( $file_on, $w, $h );
    opacity: 0;
    transition: opacity .2s cubic-bezier($easeIn-out-circ);
  }
}
