@charset "utf-8";


/* --------------------------------------------- */
/* animate */
/* --------------------------------------------- */

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes translatein {
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@mixin scroll-in() {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 1000ms cubic-bezier($easeIn-out-cubic) 100ms, opacity 1000ms cubic-bezier($easeIn-out-cubic) 100ms;

  &.before-enter {
    transform: translateY(-30px);
  }

  &.enter {
    transform: translateY(0px);
    opacity: 1;
  }
}

@mixin scroll-fadein() {
  opacity: 0;
  transition: opacity 1000ms cubic-bezier($easeIn-out-cubic);

  &.before-enter {}

  &.enter {
    opacity: 1;
  }
}

@mixin hover-underline() {
  &:hover {

    &::after,
    &::before {
      width: 100%;
      left: 0;
    }
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    width: 0;
    right: 0;
    height: 1px;
    background: #111;
  }

  &.active,
  &.router-link-exact-active {
    cursor: default;

    &::after,
    &::before {
      width: 100%;
      left: 0;
      background: #111;
    }
  }

  &::before {
    transition: width 400ms cubic-bezier(0.51, 0.18, 0, 0.88) 100ms;
  }

  &::after {
    transition: width 200ms cubic-bezier(0.29, 0.18, 0.26, 0.83);
  }
}

#head {
  // transform: translate(0, 0);
  // opacity: 0;
  // animation: translatein 500ms ease 500ms 1 forwards;
}

#foot {
  // opacity: 0;
  // animation: fadein 500ms ease 1000ms 1 forwards;
}


/* --------------------------------------------- */
/* layout */
/* --------------------------------------------- */

@mixin page-container(){
}

@mixin title-section(){
}

@mixin contents-section(){
}

/* sp */
@mixin page-container-sp(){
}

@mixin title-section-sp(){
}

@mixin contents-section-sp(){
}



/* --------------------------------------------- */
/* head */
/* --------------------------------------------- */
#head {

  .logo {
  }

  .back{
  }

  .gnav {

    .bg{
    }

    .inner{

      .nav {

        li {

          a {

            &.router-link-exact-active{
            }
            &:hover{
            }
          }

        }
      }

    }

  }

  .menu {

    a {
      &:hover {
      }
      .cont{
      }
    }
  }

}

.menu_trigger {

  .cont{

    span {

      &:nth-of-type(1) {
      }

      &:nth-of-type(2) {
      }

      &:nth-of-type(3) {
      }
    }
  }

  &:hover{
    .cont{
      span{

        &:nth-of-type(1) {
        }

        &:nth-of-type(2) {
        }

        &:nth-of-type(3) {
        }
      }
    }
  }

  &.active {
    .cont{
      span {

        &:nth-of-type(1) {
        }

        &:nth-of-type(2) {
        }

        &:nth-of-type(3) {
        }
      }
    }
  }

}

#head.full .menu_trigger{
  .cont{
    span{
    }
  }
  &.active {
    .cont{
      span {
      }
    }
  }
}


/* --------------------------------------------- */
/* foot */
/* --------------------------------------------- */
#foot {
}


/* --------------------------------------------- */
/* common */
/* --------------------------------------------- */
.common_container{
  @include page-container();

  .title_section{
    @include title-section();
  }

  .common_section{
    @include contents-section();

    .title{
    }
    .text{
    }
    .btn{
      a{
        @include arrow-back();
      }
    }
  }
}


/* --------------------------------------------- */
/* loader */
/* --------------------------------------------- */
.loader {}

.page_loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.98);
  z-index: 9998;

  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .text{
      font-size: 10px;
    }
  }
}

.loadCircleAnima {
  position: absolute;
  left: 50%;
  top: 50%;

  &:after {
    $lineWidth: 1px;
    content: "";
    position: absolute;
    left: -15px;
    top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    animation: rotate 1000ms cubic-bezier($easeIn-out-circ) infinite;
    border-radius: 100%;
    border-top: $lineWidth solid transparent;
    border-bottom: $lineWidth solid $vdk_gray;
    border-left: $lineWidth solid transparent;
    border-right: $lineWidth solid $vdk_gray;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }

  80% {
    transform: rotateZ(0deg);
  }
}
